.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2b35;
  height: 80px;
  padding: 0 140px;
}

.nav-items a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.btn-logOut {
  background-color: #1c2b35;
  color: white;
  border: 0;
}
.btn-logOut:hover {
  cursor: pointer;
}
.user {
  color: white;
}
